ul {
    list-style: none;
}

.relative li a:hover {
    text-decoration: underline;
}

li ul {
    display: none;
}

li:hover ul ul {
    display: none;
    text-decoration: none;
}

li:hover ul {
    display: block;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}